$h2:#{'min(3.6em,36px)'};
$lh:#{'min(1rem,40px)'};
$plh:#{'min(0.5rem,20px)'};
$p:#{'min(1.4em,14px)'};
$h3:#{'min(2.4em,24px)'};
$li:#{'min(1.8em,18px)'};
$ll:#{'min(2rem,80px)'};
$mt:#{'min(4rem,160px)'};
$ft:#{'min(1.6em,16px)'};
$hl:#{'min(2.5rem,100px)'};
$f2:#{'min(2em,20px)'};


@mixin grid($dev){
    @if($dev=='tab'){
        width: 90%;
        max-width: 1024px;
    }
    @else if($dev=='mob'){
        width: 90%;
        max-width: 420px;
    }
    @else{
        width: 80%;
        max-width: 1080px;
    }
    margin: 0 auto;
}

@mixin ff ($fontname,$url) {
    @font-face {
        font-family: '#{$fontname}';
        src: url('../fonts/#{$url}') format('truetype');
    }
}
@include ff('xe','xeicon.ttf');
@include ff('tm','티몬몬소리.ttf');
@include ff('mm','malgun.ttf');
@include ff('gd','GowunDodum-Regular.ttf');

@mixin df {
    display: flex;
    justify-content: space-between;
}
@mixin bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    font-size: 3vw;
    overflow-x: hidden;
    body{
        font-size: 0.7vw;
        background-color: #000;
        color: #fff;
        font-family: 'xe';
    }
}

.hdrWrap{
    header{
        @include grid('pc');
        line-height: $ll;
        @include df;
        .hdrLeft{
            width: calc(100% / 12 * 2);
            h1{
                height: #{'min(6em,60px)'};
                @include bg;
                background-image: url('../images/yellow_logo.png');
                cursor: pointer;
            }
        }
        .hdrMid{
            width: calc(100% / 12 * 6);
            nav{
                @include df;
                font-family: 'gd';
                h4{
                    cursor: pointer;
                    width: calc(100% / 6 * 2);
                    font-size: $li;
                    &:nth-child(2){
                        color: #fe0;
                    }
                    &:hover{
                        color: #fe0;
                    }
                }
            }
        }
        .hdrRight{
            @include df;
            h4{
                font-size: #{'min(1.6em,16px)'};
                font-family: 'gd';
                &:nth-child(2){
                    display: none;
                    font-size: $li;
                    line-height: $ll;
                }
            }
        }
    }
}

.navboxWrap{
    display: none;
}


.mainWrap{
    .main{
        @include grid('pc');
        margin-top: $lh;
        h2{
            font-size: #{'min(7.2em,72px)'};
            font-family: 'tm';
            text-transform: capitalize;
            color: #fe0;
            line-height: $ll;
            text-align: center;
        }
    }
}

.cntWrap{
    margin-top: $mt;
    &:nth-child(4){
        margin-top: $ll;
    }
    .content{
        @include grid('pc');
        header{
            display: flex;
            &::before{
                content: '';
                display: block;
                width: 7px;
                height: $lh;
                background-color: #fe0;
                margin-right: 5px;
            }
            h2{
                text-transform: uppercase;
                font-size: $h2;
                line-height: $lh;
                font-family: 'tm';
            }
            h5{
                font-size: #{'min(2em,20px)'};
                line-height: $lh;
                margin-left: 10px;
                padding-top: #{'min(0.5em,5px)'};
            }
        }
        &.cnt01{
            header{
                position: relative;
                font-size: $li;
                &::before{
                    content: '';
                    display: block;
                    width: 90%;
                    height: 1px;
                    position: absolute;
                    right: 0;
                    top: 0;bottom :0;
                    margin: auto;
                }
            }
            section{
                margin-top: $ll;
                .artview{
                    height: #{'min(17rem,680px)'};
                    position: relative;
                    width: calc((100vw - 1080px) / 2 + 100%);
                    min-width: calc((100vw - 80vw) / 2 + 100%);
                    overflow: hidden;
                    .artGroup{
                        width: 300%;
                        @include df;
                        article{
                            position: relative;
                            @include df;
                            width: calc(100% / 4);
                            margin-right: calc((100% / 4) / 12 * 1.5);
                            height: #{'min(17rem,680px)'};
                            .image{
                                position: absolute;
                                top: 0; right: 0;
                                width: calc(100% / 12 * 8.5);
                                height: #{'min(15rem,600px)'};
                                @include bg;
                                @for $i from 1 through 4{
                                    &.i#{$i}{
                                        background-image: url('../images/sub2/cnt01_0#{$i}.jpg')
                                    }
                                }
                            }
                            .texts{
                                font-family: 'gd';
                                position: absolute;
                                left: 0;
                                z-index: 5;
                                padding-top: #{'min(3rem,120px)'};
                                .txtTop{
                                    &::after{
                                        content: '';
                                        display: block;
                                        width: calc(100% / 12);
                                        height: 3px;
                                        background-color: #fe0;
                                        margin: 1em 0;
                                    }
                                    h5{
                                        font-size: $li;
                                        line-height: $lh;
                                    }
                                    h3{
                                        font-size: $h2;
                                        line-height: $ll;
                                        font-weight: 700;
                                        text-shadow: 1px 1px 5px #333;
                                    }
                                }
                                .txtMid{
                                    margin-top: $lh;
                                    font-size: $p;
                                    line-height: $plh;
                                    h4{
                                        &:nth-child(1){
                                            line-height: $lh;
                                            font-weight: 700;
                                        }
                                    }
                                }
                                .txtBtm{
                                    margin-top: $lh;
                                    font-size: $p;
                                    line-height: $plh;
                                    h4{
                                        &:nth-child(1){
                                            line-height: $lh;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                            &.a1{
                                .texts{
                                    .txtTop{
                                        h5{
                                            &:nth-child(1){
                                                color: #fe0;
                                            }
                                        }
                                    }
                                }
                            }
                            &.a2{
                                .texts{
                                    .txtTop{
                                        h5{
                                            &:nth-child(1){
                                                color: #f00;
                                            }
                                        }
                                    }
                                }
                            }
                            &.a3{
                                .texts{
                                    .txtTop{
                                        h5{
                                            &:nth-child(1){
                                                color: #f00;
                                            }
                                        }
                                    }
                                }
                            }
                            &.a4{
                                .texts{
                                    .txtTop{
                                        h5{
                                            &:nth-child(1){
                                                color: #fe0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .btns{
                        z-index: 10;
                        width: 300%;
                        height: $ll;
                        font-size: #{'min(5em,50px)'};
                        position: absolute;
                        top: 0;bottom: 0;
                        margin: auto;
                        .btn{
                            position: absolute;
                            right: 75%;
                            width: calc((100% / 4) / 12);
                            &:nth-child(1){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &.cnt02{
            section{
                article{
                    display: flex;
                    width: calc(100% / 12 * 8);
                    margin: 0 auto;
                    margin-top: $lh;
                    .image{
                        width: calc(100% / 8 * 2.8);
                        height: #{'min(6rem,240px)'};
                        background-color: #ccc;
                        border-radius: 50%;
                        @include bg;
                        @for $i from 1 through 4{
                            &.i#{$i}{
                                background-image: url('../images/sub2/cnt02_0#{$i}.jpg')
                            }
                        }
                    }
                    .texts{
                        font-family: 'gd';
                        width: calc(100% / 8 * 5);
                        margin-left: 20px;
                        h3{
                            font-size: $li;
                            line-height: $lh;
                            span{
                                font-family: 'xe';
                            }
                            font-style: italic;
                            font-weight: 700;
                        }
                        h5{
                            font-size: $li;
                            line-height: $lh;
                            &::after{
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: #fe0;
                            }
                        }
                        p{
                            margin-top: $plh;
                            font-size: $p;
                            line-height: $plh;
                        }

                    }
                    &:nth-child(2){
                        flex-direction: row-reverse;
                        .texts{
                            text-align: right;
                            margin-right: 20px;
                        }
                    }
                    &:nth-child(4){
                        flex-direction: row-reverse;
                        .texts{
                            margin-right: 20px;
                            text-align: right;
                        }
                    }
                }
            }
        }
        &.cnt03{
            section{
                margin-top: $lh;
                ul.arco{
                    font-family: 'gd';
                    li{
                        transition: height 0.3s;
                        &:nth-child(odd).on{
                            border-top: 3px solid #fe0;
                        }
                        &:nth-child(odd).on+li{
                            height: #{'min(4rem,160px)'};
                            padding: $plh;
                            border-bottom: 2px solid #fe0;
                        }
                        &:nth-child(odd){
                            border-top: 1px solid #fff;
                            line-height: $lh;
                            font-size: $f2;
                            &::before{
                                content: 'Q. ';
                                display: inline;
                            }
                        }
                        &:nth-child(even){
                            span{
                                line-height: $lh;
                                font-size: $li;
                                &::before{
                                    content: 'A. ';
                                    display: inline;
                                }
                            }
                            font-size: $p;
                            line-height: $plh;
                            height: 0;
                            overflow: hidden;
                        }
                        &:nth-last-child(1){
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
        }
    }
}
.bnrWrap{
    .banner{
        @include grid('pc');
        position: relative;
        width: 100%;
        height: #{'min(41rem,1640px)'};
        .image{
            width: 100%;
            height: 0;
            @include bg;
            background-image: url('../images/sub2/bnr_i.jpg');
            transition: height 7s;
        }
        .texts{
            position: absolute;
            top: 0;
            font-family: 'gd';
            text-align: center;
            width: 100%;
            height: #{'min(41rem,1640px)'};
            h3{
                position: absolute;
                top: 5%;
                right: 0;left: 0;
                font-size: $h2;
                line-height: $lh;
                width: calc(100%  / 12 * 6);
                margin: auto;
            }
            p{
                position: absolute;
                top: 40%;
                right: 0;left: 0;
                font-size: $li;
                line-height: $plh;
                width: calc(100% / 12 * 8);
                margin: auto;
            }
        }
        .btn{
            font-size: #{'min(2em,20px)'};
            line-height: $lh;
            width: calc(100% / 12 * 2);
            height: $lh;
            text-align: center;
            outline: 1px solid #fe0;
            font-family: 'gd';
            position: absolute;
            margin: auto;
            top: 60%;
            right: 0;left: 0;
            span{
                font-family: 'xe';
            }
            &:hover{
                background-color: #222;
                opacity: 0.9;
            }
        }
    }
}








.ftrWrap{
    position: relative;
    margin-top: $mt;
    height: #{'min(12rem,480px)'};
    overflow: hidden;
    width: 100%;
    .video{
        width: 100vw;
        height: #{'min(13rem,520px)'};
        position: absolute;
        top: 0;
        overflow: hidden;
        border-top: 10px solid #000;
        video{
            width: 100%;
        }
    }
    .ftrBg{
        width: 100%;
        height: 9.16rem;
        @include bg;
        background-size: contain;
        background-image: url('../images/footer1.png');
        position: absolute;
        top: 0;
        z-index: 55;
    }
    .footer{
        @include grid('pc');
        height: #{'min(12rem,480px)'};
        position: relative;
        top: 0;
        .texts{
            color: #000;
            padding-top: #{'min(3.5rem,140px)'};
            position: absolute;
            top: 0;
            z-index: 66;
            font-size: $ft;
            width: 100%;
            font-family: 'gd';
            .txtTop{
                line-height: $lh;
                width: calc(100% / 12 * 5.5);
                margin: 0 auto;
                text-align: center;
                .info{
                    @include df;
                    justify-content: space-around;
                    h4{
                        min-width: 176px;
                        &:nth-child(1){
                            font-weight: 700;
                            margin-right: 10px;
                            font-size: $li;
                            min-width: 80px;
                        }
                    }
                }
                .sns{
                    font-size: $h3;
                    font-family: 'xe';
                    line-height: $ll;
                    i{
                        cursor: pointer;
                        margin: 0 10px;
                    }
                }
            }
            .txtBtm{
                line-height: $lh;
                @include df;
                justify-content: space-around;
                width: calc(100% / 12 * 6); 
                margin: 0 auto;
                font-weight: 700;
                margin-top: $plh;
                min-width: 203px;
            }
        }
        h1{
            bottom: 0;
            position: absolute;
            left: 0; right: 0;
            margin: auto;
            z-index: 68;
            @include bg;
            background-size: contain;
            background-image: url('../images/black_logo.png');
            width: calc(100% / 12 * 2);
            height: $ll;
            text-indent: -9999px;
            margin-top: $lh;
            margin-bottom: $plh;
            cursor: pointer;
        }
    }
}

.toTop{
    font-size: $h3;
    line-height: $lh;
    width: calc(100% / 12 * 0.3);
    height: $lh;
    background-color: #ccc;
    color: #555;
    opacity: 0.5;
    position: fixed;
    text-align: center;
    right: 0%; bottom:13%; 
    z-index: 999999;
    cursor: pointer;
}


@media (max-width:1024px) and (min-width:0px){ 
    .hdrWrap{
        header{
            @include grid('tab')
        }
    }
    .mainWrap{
        .main{
            @include grid('tab');
        }
    }
    .cntWrap{
        .content{
            @include grid('tab');
            &.cnt01{
                section{
                    .artView{
                        width: calc((100vw - 1024px) + 100%);
                        min-width: calc((100vw - 90vw) + 100%);
                    }
                } 
            } 
        }
    }
    .bnrWrap{
        .banner{
            @include grid('tab');
        }
    }
    .ftrWrap{
        footer{
            @include grid('tab');
        }
    }
 }


 @media (max-width:420px) and (min-width:0px){

    html{
        font-size: 8vw;
        overflow-x: hidden;
        body{
            font-size: 3vw;
        }
    }

    .hdrWrap{
        header{
            @include grid('mob');
            .hdrLeft{
                width: calc(100% / 4 * 2);
                h1{
                    line-height: $lh;
                }
            }
            .hdrMid{
                display: none;
            }
            .hdrRight{
                width: calc(100% / 4);
                line-height: $lh;
                h4{
                    display: none;
                    &:nth-child(2){
                        width: 100%;
                        display: block;
                        line-height: $lh;
                        font-size: $h3;
                        font-family: 'xe';
                        text-align: right;
                        margin-top: $plh;
                    }
                }
            }
        }
    }
    .navboxWrap{
        transition: all 0.5s;
        position: fixed;
        top: 0;
        z-index: 888;
        display: none;
        width: 0vw;
        height: 0vh;
        background-color: #000;
        .navBox{
            padding: #{'min(2em,20px)'};
            font-family: 'tm';
            .navTop{
                position: relative;
                h1{
                    width: calc(100% / 4 * 2);
                    height: #{'min(2rem,80px)'};
                    @include bg;
                    background-image: url('../images/yellow_logo.png');
                    text-indent: -9999px
                }
                i{
                    font-size: $h3;
                    margin-right: auto;
                    line-height: #{'min(2.5rem,100px)'};
                    font-family: 'xe';
                    position: absolute;
                    top: 0; right: 0;
                }
                nav{
                    margin-top: $ll;
                    h4{
                        font-size: $h2;
                        line-height: #{'min(2.5rem,100px)'};
                        text-align: center;
                        position: relative;
                        &::before{
                            content: '';
                            display: block;
                            height: #{'min(0.5em,5px)'};
                            width: 0%;
                            background-color: #fe0;
                            transition: width 0.5s;
                            position: absolute;
                            margin: auto;
                            top: 0;bottom: 0;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .navBtm{
                h4{
                    font-family: 'gd';
                    text-align: center;
                    font-size: $li;
                    margin-top: #{'min(2.5rem,100px)'};;
                }
            }
        }
    }
    .mainWrap{
        .main{
            @include grid('mob');
            h2{
                font-size: $h2;
                margin-top: $lh;
            }
            .tab{
                font-size: $p;
                width: calc(100% / 4 * 3);
            }
        }
    }

    .cntWrap{
        margin-top: $ll;
        .content{
            @include grid('mob'); 
            header{
                h2{
                    font-size: $h3;
                    line-height: $lh;
                }
                h5{
                    font-size: $p;
                    line-height: $lh;
                }
                &::before{
                    height: #{'min(3em,30px)'};
                    width: 5px;
                }
            }
            &.cnt01{
                header{
                    position: relative;
                    font-size: $p;
                    &::before{
                        content: '';
                        display: block;
                        width: 80%;
                        height: 1px;
                        position: absolute;
                        right: 0;
                        top: 0;bottom :0;
                        margin: auto;
                    }
                }
                section{
                    margin-top: $lh;
                    overflow: hidden;
                    .artview{
                        width: 100%;
                        min-width: none;
                        height: #{'min(9rem,360px)'};
                        .artGroup{
                            width: 400%;
                            height: #{'min(9rem,360px)'};
                            article{
                                width: calc(100% / 4);
                                .image{
                                    width: 90%;
                                    height: #{'min(9rem,360px)'};
                                }
                                .texts{
                                    padding-top: 0;
                                    .txtTop{
                                        h3{
                                            font-size: $h3;
                                            line-height: $lh;
                                        }
                                        h5{
                                            font-size: $p;
                                            line-height: $lh;
                                            margin: 1em 0;
                                        }
                                    }
                                    .txtMid{
                                        display: none;
                                    }
                                    .txtBtm{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .btns{
                            width: 400%;
                            font-size: $h2;
                            height: $lh;
                            .btn{
                                right: 74%;
                                width: calc((100% / 4) / 4);
                            }
                        }
                    }
                }
            } 
            &.cnt02{
                section{
                    article{
                        flex-wrap: wrap;
                        .image{
                            width: calc(100% / 4 * 3);
                            height: #{'min(5rem,200px)'};
                            margin: 0 auto;
                        }
                        .texts{
                            flex-wrap: wrap;
                            width: 100%;
                            margin-left: 0;
                            text-align: center;
                            h3{
                                span{
                                    display: none;
                                }
                            }
                            h5{
                                &::after{
                                    display: none;
                                }
                            }
                            p{
                                display: none;
                            }
                        }
                        &:nth-child(2){
                            .texts{
                                text-align: center;
                                margin-right: 0;
                            }
                        }
                        &:nth-child(4){
                            .texts{
                                margin-right: 0;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            &.cnt03{
                section{
                    ul.arco{
                        li{
                            &:nth-child(odd).on+li{
                                height: #{'min(4rem,160px)'};
                                padding: $plh;
                            }
                            &:nth-child(odd){
                                line-height: #{'min(3em,30px)'};
                                font-size: $p;
                                padding : $plh;
                            }
                            &:nth-child(even){
                                span{
                                    line-height: $plh;
                                    font-size: #{'min(1.2em,12px)'};
                                }
                                font-size: #{'min(1.2em,12px)'};
                                line-height: $plh;
                            }
                        }
                    }
                }
            }
        }
    }
    .bnrWrap{
        .banner{
            @include grid('mob');
            height: #{'min(30rem,1200px)'};
            .image{
                width: 100%;
                height: 0;
            }
            .texts{
                height: #{'min(26rem,1040px)'};
                h3{
                    width: calc(100% / 4 * 3);
                    font-size: $li;
                    line-height: $lh;
                    top: 20%;
                }
                p{
                    width: 100%;
                    font-size: $p;
                    line-height: #{'min(3em,30px)'};
                    top: 80%;
                }
            }
            .btn{
                width: calc(100% / 4 * 1.5);
                font-size: $p;
                line-height: #{'min(3em,30px)'};
                height: #{'min(3em,30px)'};
                top: 95%;
            }
        }
    }
    .ftrWrap{
        margin-top: $ll;
        background-color: #fe0;
        height: auto;
        .video{
            display: none;
        }
        .ftrBg{
            display: none;
        }
        .footer{
            color: #ccc;
            height: #{'min(8rem,320px)'};
            @include grid('mob');
            font-size: #{'min(1.2em,12px)'};
            .texts{
                padding-top: $lh;
                font-size: $p;
                .txtTop{
                    line-height: $plh;
                    width: 100%;
                    .info{
                        h4{
                            min-width: 247px;
                            &:nth-child(1){
                                font-size: $p;
                            }
                        }
                    }
                }
                .txtBtm{
                    margin-top: $plh;
                    width: 100%;
                    font-size: $p;
                    line-height: $lh;
                    min-width: 284px;
                }
            }
            a{
                h1{
                    width: calc(100% / 4 * 1.5);
                    height: $lh;
                    margin-top: $plh;
                }
            }
        }
    }

    .toTop{
        width: calc(100% / 4 * 0.3);
    }

}
